@import url("./colors.css");
@import url("./fonts.css");

/* Animación de aparicion del menu y overlay */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: var(--blue-600);
  color: var(--white);
  font-family: "Inter";
  font-size: 17px;
  padding: 0;
  margin: 0;
}

.overlay {
  grid-column: 1 / -1; /* ocupa todas las columnas */
  grid-row: 1 / -1; /* ocupa todas las filas */
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  pointer-events: none; /* opcional: para que no bloquee clics si no quieres */
  display: none;
}
.overlay.open {
  display: block;
  animation: slideIn 1s ease forwards;
}

header {
  border-bottom: 1px solid var(--blue-400);
  background-color: var(--blue-600);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.5rem;
}
#grid-container {
  position: relative;
  display: grid;
  grid-template-areas:
    "hero-section"
    "area-1"
    "area-2"
    "area-3"
    "area-4"
    "footer";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.area-1 {
  grid-area: area-1;
}
.area-2 {
  grid-area: area-2;
}
.area-3 {
  grid-area: area-3;
}
.area-4 {
  grid-area: area-4;
}
.area-1:hover,
.area-2:hover,
.area-3:hover,
.area-4:hover {
  transition-duration: 0.8s;
  background-color: var(--blue-400);
  cursor: pointer;
}
.area-1:focus,
.area-2:focus,
.area-3:focus,
.area-4:focus {
  transition-duration: 0.8s;
  background-color: var(--blue-400);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 14px;
}

li::before {
  content: "•";
  font-size: 1.8em;
  line-height: 1;
  margin-top: -0.25em;
}

.grid-section {
  position: relative;
  z-index: 1;
  min-height: 266px;
  border: 1px solid var(--blue-400);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Hero section */

.hero-section {
  grid-area: hero-section;
  display: flex;
  position: relative;
  z-index: 5;
}

.hidden {
  display: none;
}
.grid-section > h1 {
  font-weight: 500;
  font-size: 2.5rem;
}
.grid-section > h1 ~ p {
  font-weight: 300;
}

.grid-section > .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.grid-section > .bottom-section {
  line-height: 0.5rem;
}
.grid-section > .bottom-section > .additional-info {
  font-size: 14px;
  font-weight: 300;
  line-height: 1rem;
}

footer {
  grid-area: footer;
  padding: 1.5rem;
  font-size: 14px;
  font-weight: 300;
  line-height: 0.5rem;
}

nav {
  display: none;
  z-index: 10;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: var(--blue-600);
}

nav.open {
  display: flex;
  grid-area: hero-section;
  animation: slideIn 1s ease forwards;
}
nav > a {
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
}
nav.open > a:hover {
  
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  
}
nav.open > a:focus {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

@media (min-width: 768px) {
  #grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas:
      "hero-section hero-section area-1 area-2"
      "hero-section hero-section area-3 area-4"
      "footer footer footer footer";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  nav {
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
  }
  nav > a {
    white-space: nowrap;
  }
  nav.open {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    animation: slideIn 1s ease forwards;
  }
}
