:root{
--white:#ffffff;
--black:#000000;
--blue-200: #e5ecff;
--blue-400: #4785ff;
--blue-600: #335cff;
--blue-700: #2a54fe
}




/* - Black: hsl(0, 0%, 0%) — used at 25% opacity for the menu overlay */

